#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #f4f0bb;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #87c38f;
}
body {
    background-color: #f4f0bb;
}
header {
    background-color: #226f54;
    color: #f4f0bb;
}
nav a:hover, footer a:hover {
    background-color: #da2c38;
}
footer a {
    color: #f4f0bb;
    text-decoration: none;
}
.book {
    color: #226f54;
    text-decoration: none;
}
.join {
    color: #f4f0bb;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #da2c38;
}
.msg {
    background-color: #226f54;
    color: #87c38f;
}
footer {
    background-color: #226f54;
    color: #87c38f;
}
.home-title {
    color: #226f54;
}
h4, h2 {
    color: #226f54;
}
.subtitle {
    color: #87c38f;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}