@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik&display=swap');
#content {
    max-width: 1456px;
    margin: 0 auto;
}

.sidenav {
    height: 100%; 
    width: 220px; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2081c3; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 5px 5px 10px #6f7364;
  }
  
  .logo {
    border-radius: 30%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
  }
  .logo:hover {
    background-color: #2081c3;
    transform: scale(1.1)
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: Rubik;
    font-size: 25px;
    color: #f7f9f9;
    display: block;
  }
  
  .sidenav a:hover {
    color: #63d2ff;
    transform: scale(1.05)
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    text-align: right;
    color: #2081c3;
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 20%;
    margin-right: 4%;
    font-size: 2em;
}

#hero-img {
    width: 100%;
    background-color: #78d5d7;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #6f7364;
}
.button-box {
    margin-right: 16%;
    margin-top: -18%;
}
.start {
    color: #f7f9f9;
    background-color: #78d5d7;
    opacity: 90%;
    text-decoration: none;
    font-size: 40px;
    font-family: Rubik;
    letter-spacing: 3px;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}
.start:hover {
    background-color: #2081c3;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
}

.reading {
    border: 6px solid #78d5d7;
    width: 100%;
    box-shadow: 5px 5px 10px #2081c3;
    border: 40px 40px;
    margin: 60px 30px 60px 100px;    
}

.reading-pic {
    font-family: Montserrat;
    margin-top: 10%;
    grid-column: 2/4;
    margin: 64px 100px;
}
.subtitle {
    color: #2081c3;
    text-align: left;
    margin: 40px 100px 0% 100px; 
}
.text1 {
    text-align: left;
    margin: 20px 30px 30px 100px; 
}

.icon {
    width: 50px;
    padding-top: 10px;
}
footer p {
    color: #2081c3;
    font-size: 1.2em;
    margin-top: 5%;
}
footer p a:hover {
    text-decoration: underline;

}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #bed8d4;
    color: #2081c3;
    padding: 20px 30px 20px 80px;
    margin-top: 10px;
    margin-left: 200px;
    box-shadow: 0px 0px 10px #6f7364;
}

footer .contact {
    justify-items: center;
}

footer a {
    color: #2081c3;
    text-decoration: solid;
}

footer .social {
    padding-top: 10px;
}
footer .owner {
    grid-column: 1/2;
    margin-left: 20%;
}
footer .link {
    grid-column: 2/3;
    margin-left: 30%;
}

.tw, .fb, .inst {
    width: 10%;
    grid-column: 3/4;
    margin-left: 8%;

}

.inst:hover {
    background-color: #bed8d4;
    transform: scale(1.4)
}
.fb:hover {
    background-color: #bed8d4;
    transform: scale(1.4)
}
.tw:hover {
    background-color: #bed8d4;
    transform: scale(1.4)
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .hero-title {
        font-size: 25px;
        color: #2081c3;
    }
    .start {
        width: 80%;
        margin: 30% auto;
    }
    #background {
        display: none;
    }
    .reading {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
