img {
    width: 20%;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
    font-weight: 14px;
}
* {
    background-color: pink;
    text-align: center;
}
