body {
    text-align: center;
    background-color: rgb(191, 239, 248);
}
nav {
    background-color: rgb(10, 48, 80);
    padding: 10px;
}
a {
    color: white;
    margin: 40px;
}
h1 {
    color: rgb(10, 48, 80);
}
img {
    width: 800px;
    border: 4px solid rgb(10, 48, 80);
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
p {
    padding: 10px;
}
footer {
    background-color: rgb(10, 48, 80);
    color: white;
}
#active {
    background-color: white;
    color: steelblue;
}